@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@500;600&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container{
   
    height: 100px;
    width:100%;
    background: #FFF;
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Set the border style */
    box-shadow: 4px 0px 0px 0px rgba(0, 0, 0, 0.05);
    
}
.nav-container .logo-head{
    margin-left: 160px;
}

.nav-container .logo-head img{
    fill: #FFF;
    width: 3.5rem;
    height:3.5rem;
}

.nav-container .head-title h1{
    text-align: center;
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 700;
    margin: 9px;
}


.head-title span{
    color: #FF42A5;
}

.li-container{
    display: flex;
    align-items: center;
    margin-left: 400px;
    width: 100%;
}
nav li {
    list-style:none;
    margin: 10px;   
}
 .link, .link> a> img{
    margin: 10px;  
 }
nav a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.link{
    color: #3C354F;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 40%;
    height:50px;
}
.a{
    margin-left: 10px;
}

.li-container img{
    width: 1.5rem;
    height:1.5rem;
}

/* banner section */
.banner-container{
    width: 100%;
    height: 500px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-container .writtings-section,
.children-area .writtings-section{
    
    background-image: url("./images/group14.png");
    background-size:cover;
    width: 50%;
    height:100%;
    justify-content: center;
    align-items: center;
   
}
.likhalikhi{
    margin-left:160px ;
    margin-top: 80px;
    align-items: center;

}
.small, .small2, .small3 {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    text-transform: lowercase;

}
.small i, .small2 i, .small3 i{
    padding-right: 10px;
}

.goat{
 
    color: #F948B2, #8758F1;
    font-size: 54px;
    font-weight:700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.button{
    display: inline-flex;
    gap: 10px;
    margin-top: 10px;
}
.btn-primary, .btn-primary1{
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 550;
    border-radius: 48px;
    background: #FF42A5;
    padding: 12px 20px;

}
.btn-primary1{
    background: #4EC5F7;

}

.banner-container .right-image{
    background-image: url("./images/group18.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height:100%;
}
/* online games section */
.online-games-section{
    background: #fff;
    justify-content: center;  
    text-align: center;
    align-items: center;
    height:80vh;
}
.o-writings{
    color: #0B0223;
    text-align: center;
    font-size: 30px;
    font-weight:700;
    width:80%;
    margin: 5px auto;
}
.o-writings h2{
    margin-bottom: 0;
}
.box{

    display: flex;
    width:80%;
    background: white;
    justify-content: center;
    align-items: center;
    gap: 24px; 
    margin: 5px auto;
}
.boxs{
    border-radius: 15px;
    width: 100%;
}
.box .boxs p{
    text-align: left;
}

.boxs img{
 width:100%;
 position: relative;
}
.box .boxs:nth-child(3){
    position: relative;
}
.box .boxs:nth-child(3) img:hover
{
    filter: grayscale(0.60);
}
.box .boxs:nth-child(3) img:hover+.after-hover, 
.box .boxs:nth-child(3) .after-hover:hover{
    opacity: 1;
    cursor: pointer;
}
.box .boxs:nth-child(3) .after-hover{
    z-index: 9999;
    top: 30%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 50px;
    height: inherit;
    margin: 0 auto;
    font-size: 50px;
    color: #fff;
    opacity: 0;
}

.online-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.details1, .strong{
    color: #757575;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}


/*  */
.play-game{
    display: flex;
    background: #fff;
    width: 100%;
    height: 500px;
    position: relative;
}

.play-game .writtings{
    padding-top: 80px;
}

.play-game .writtings, .play-game .image{
    position: relative;
    float: left;
    width: 50%;
}

.play-game .writtings h4{
    text-align: right;
    margin: 0;
    padding: 5px 0;
    font-size: 30px;
    color: #0B0223;
}
.play-game .writtings.float-left h4, 
.play-game .writtings.float-left p
{
    text-align: left;
}

.play-game .writtings p{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.play-game .image{
    position: relative;
}
.play-game .image img.boy-img{
    height: 400px;
    margin-left: 130px;
}
.play-game .image img.girl-img{
    position: absolute;
    left: 70px;
    bottom: 50px;
    height: 230px;
}
.play-game .image img.girl-img.float-right{
    left: 440px;
}

.mt-30{
    margin-top: 30px;
}


/* children area */
.children-area{
    width: 100%;
    height: 500px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* icon-button-area */
.icon-button-area{
    height: 125px;
    background: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 960px;
    margin: 30px auto;
    overflow: hidden;
}
.icon-button-area .button-box{
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    width: 170px;
    float: left;
    margin: 10px;
}
.icon-button-area .button-box:hover{
    border-color: #FF42A5;
    cursor: pointer;
}
.icon-button-area .button-box:hover strong{
    color: #FF42A5;
}
.icon-button-area .button-box img{
    height: 40px;
    padding-left: 5px;
}
.icon-button-area .button-box strong{
    color: #0B0223;
    font-size: 12px;
    padding-left: 10px;
    line-height: 40px;
}


 .footer{
   
    height: 400px;
    width:100%;
    background: #0B0223;
    align-items: center;
    border: 1px solid #ccc; /* Set the border style */
    box-shadow: 4px 0px 0px 0px rgba(0, 0, 0, 0.05);
    
}
.footer .footer-top{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-right: 178px;
    padding-top: 70px;

}
.footer .logo-head{
    margin-left: 160px;
}

.footer  .logo-head img{
    fill: #FFF;
    width: 3.5rem;
    height:3.5rem;
}

.footer  .head-title h1{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 9px;
    color:white ;
}


.head-title span{
    color: #FF42A5;
}

.footer-text{
    display: flex;
    align-items: center;
    margin-left: 350px;
    width: 100%;
}
.footer-text li {
    list-style: none;
    margin: 10px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding-right: 13px;

}
.footer-icon {
    display: flex;
    justify-content: center;
    gap: 10px; 
    padding-bottom: 15px;
    
  }

.fa-brands {  
    font-size: 24px; 
    color: #fff; 
  }

  .footer-text-two ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    list-style: none; 
    padding: 0;
  }
  
  .footer-text-two ul li {
    /* Add any styles you want for the list items */
  }
  
  .footer-text-two p {
    margin: 30px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  